@charset "utf-8";

body{
    margin: 0;
    color: #212121;
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    opacity: .5;
}

.wrapper{

}

header{
    height: 68px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #ffffff;
}

.logo{
    font-size: 30px;
}

nav ul{
    display: flex;
    gap: 48px;
    list-style-type: none;
}

main{
    margin: 40px 0;
}

.contents{
    width: 1024px;
    margin: auto;
}

section{
    margin-top:80px ;
}

/* 見出し共通 */

h2{
    font-size: 36px;
}


h2 span{
    font-size: 18px;
    display: block;
}


/***************
* #first-view
****************/

#first-view{
    display: flex;
    background-color: #ffffad;
}

#first-view .text{
    align-self: center;
    margin-right: 50px;
}

#first-view h1{
    font-size: 70px;
    margin: 0 0 60px;
    padding-left: 5px;
    color: white;
    background-color: #ffcc33;

}

#first-view .sub-title{
    font-size: 18px;
    display: block;
}

/***************
* #sec-1
****************/

#sec-1{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 60px;
    justify-content: space-between;
    background: #e5ccff;
}

#sec-1 h2{
    padding-left: 5px;
    color: #82ff05;
    background-color: #9933ff;
    border-left: solid 5px #82ff05;
}

.sec-1-right{
    width: 560px;
}


.sec-1-right p{
    margin: 30px 0;
}

/***************
* #sec-2
****************/

#sec-2{
    background: #ffefef;
}

#sec-2 h2{
    text-align: center;
    color: white;
    background-color: #ff4c4c;
    border-bottom: solid 7px #ff7f00;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.btn_box{
    display: block;
    width: 250px;
    padding: 10px 0;
    border: 2px solid #212121;
    margin: 60px auto 0;
    text-align: center;
}

.btn_box:hover{
    background: #212121;
    color: white;
}

/***************
* #sec-3
****************/

#sec-3{
    background: #ffefff;
}

#sec-3 h2{
    text-align: center;
    color: #b770ff;
    background-color: #ff84ff;
}

/***************
* footer
****************/

footer{
    background: #f5f5f5;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}